<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".ocr.ui.CameraActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MLKitPlugin"/>
        <activity
            android:name=".face.FaceActivity"
            android:exported="false"
            android:theme="@style/Theme.MLKitPlugin" />
        <activity
            android:name=".ocr.ui.TextActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MLKitPlugin" />
    </application>

</manifest>