<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ocr.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.MLKitPlugin"/>
        <activity
            android:name=".face.FaceActivity"
            android:exported="false"
            android:theme="@style/Theme.MLKitPlugin" />
        <activity
            android:name=".ocr.TextActivity"
            android:exported="false"
            android:theme="@style/Theme.MLKitPlugin" />
    </application>

</manifest>